.Rproj.user
.Rhistory
.RData
.Ruserdata

archive/

cNMA Codebook (Field Code Dictionary).xlsx
/_archive
CNMA database questions.txt
Note for Emily on analysis. .docx
/cNMA_old
CNMA Master Database.xlsx
~$CNMA Master Database.xlsx
