.Rproj.user
.Rhistory
.RData
.Ruserdata

archive/

cNMA Codebook (Field Code Dictionary).xlsx
/_archive
CNMA database questions.txt
Note for Emily on analysis. .docx
/cNMA_old
CNMA Master Database.xlsx
~$CNMA Master Database.xlsx
CNMA_Data2_dropcheck.csv
/tutorial
CNMA_Data2_dropcheck_FORMATTED.csv
CNMA Master Database_SBM_formatting.xlsx
CNMA output.txt
NMA_Data_subset_icR.csv
NMA_Data_subset_icW.csv
~$CNMA Master Database_SBM_formatting.xlsx
V_list_icR.csv
V_list_icR_nomirrors.csv
V_list_icW.csv
V_list_icW_nomirrors.csv
